@import "../components/color-definitions";
@import "color-theme";

// ==========  Card  ========== */

$card-background-color: unquote("rgb(#{$color-white})") !default;
$card-text-color: unquote("rgba(#{$color-black},.84)") !default;
$card-image-placeholder-color: unquote("rgb(#{$color-accent})") !default;
$card-supporting-text-text-color: unquote("rgba(#{$color-black}, 0.54)") !default;
$card-supporting-invert-text-text-color: unquote("rgba(#{$color-white}, 0.87)") !default;
$card-border-color: rgb(232, 235, 233);
$card-subtitle-color: unquote("rgba(#{$color-black}, 0.54)") !default;

// CARD */

// Card dimensions */
$card-width: 330px !default;
$card-height: 200px !default;
$card-font-size: 16px !default;
$card-title-font-size: 24px !default;
$card-title-sm-font-size: 16px !default;
$card-subtitle-font-size: 14px !default;
$card-meta-info-font-size: 12px !default;
$card-horizontal-padding: 16px !default;
$card-vertical-padding: 16px !default;
$card-header-padding: 16px !default;

$card-title-perspective-origin-x: 165px !default;
$card-title-perspective-origin-y: 56px !default;

$card-title-transform-origin-x: 165px !default;
$card-title-transform-origin-y: 56px !default;

$card-title-text-transform-origin-x: 149px !default;
$card-title-text-transform-origin-y: 48px !default;

$card-supporting-text-font-size: 14px !default;
$card-supporting-text-line-height: 18px !default;

$card-actions-font-size: 16px !default;

$card-title-text-font-weight: 400 !default;
$card-z-index: 1 !default;

// Cover image */
$card-cover-image-height: 186px !default;
$card-background-image-url: '' !default;